---
import "../styles/base.css";
import bg from '@assetsLocal/bg.svg';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Pozvánka na svadbu</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="max-h-screen overflow-hidden w-full bg-cover bg-no-repeat bg-center" style={{backgroundImage: `url('${bg.src}')`,}}>
			<slot />
		</div>
	</body>
	<script>
		document.getElementById('flipButton')?.addEventListener('click', function() {
			const flipCard = document.querySelector('.flip-card');
			flipCard?.classList.toggle('flip');
			
			document.getElementById('flipButton')?.classList.add('hidden');
			document.getElementById('invitations')?.classList.toggle('hidden');
			document.getElementById('invitations')?.classList.toggle('invitations-animation');
		});

	</script>
</html>