---
import "../styles/base.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Pozvánka na svadbu</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
	</head>
	<body class="max-h-screen overflow-hidden">
		<slot />
	</body>
	<script>
		document.getElementById('flipButton').addEventListener('click', function() {
			const flipCard = document.querySelector('.flip-card');
			flipCard.classList.toggle('flip');
			this.textContent = flipCard.classList.contains('flip') ? 'Zavrieť obálku' : 'Otvoriť obálku';
			document.getElementById('flipButton')?.classList.add('hidden');
		});

	</script>
</html>